body {
  background-color: var(--dark);
  color: var(--font);
  font-family: sans-serif;
  /* overflow: hidden; */
}
button {
  background-color: var(--med);
  border: none;
  padding: 10 50;
  color: var(--font);
  font-size: inherit;
}
button:hover {
  background-color: var(--dark-med);
}
h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 10px;
}

/*Custom classes*/
.ChatMessage {
  /*background-color: #8152ad;*/
  padding: 5px;
  width: 100%;
}

.Footer {
  /*text-align: center;*/
  display: flex;
}
.InputText {
  outline: none;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  resize: none;
  width: calc(100%);
  min-height: 20px;
  overflow: visible;
  background-color: var(--light);
  border: none;
  color: var(--font);
  font-size: X-large;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  margin-right: 5px;
}
.InputText::placeholder {
  color: var(--font);
}
.MessageContent {
  font-size: large;
  word-break: break-word;
}
.MessageBox {
  border-radius: 10px;
  background-color: var(--med);
  padding: 20px;
  font-size: larger;
  margin-top: 5px;

  height: calc(95vh - 220px);
  overflow-y: scroll;
}
.MessageSendTimeOther,
.MessageSendTime {
  color: var(--font);
  font-size: small;
  user-select: none;

  display: initial;
}
.MessageSendTimeOther {
  margin-bottom: 5;
}
.MessageSenderIconOther,
.MessageSenderIcon {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}
.MessageSenderNameOther,
.MessageSenderName {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: large;
  /*text-decoration: underline;*/
}
.MessageSenderNameOther {
  margin-bottom: 5px;
}
.MessageSenderIconOther {
  float: right;
}
.OtherMessage {
  background-color: var(--light);
  text-align: right;
}
.RoomDescription {
  text-align: center;
  font-size: large;
}
.Section {
  padding: 10px;
  background-color: var(--med);
  margin-top: 10px;
  border-radius: 10px;
}
.SendButton {
  margin: 0px 0%;
  position: relative;
  font-size: x-large;
  height: 100%;
  line-height: 0;
  background-color: var(--light);

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
}
.Side {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--font);
  font-size: large;
  background-color: var(--font);
}
.Side:hover {
  background-color: var(--invisible);
}
.Window {
  position: absolute;
  top: 50px;
  height: calc(100% - 110px);
  display: none;
}
.Cover {
  /* height: 100%;
  position: fixed;
  width: calc(100% - 15px);
  margin: 0px;
  padding: 0px; */
}
