/* Hide at start */
.Rooms {
  display: none;
}

.Window,
.RoomMenu,
.RoomList {
  border-radius: 10px;
  background-color: var(--dark-med);
  display: inline-block;
  padding: 20px;
  font-size: larger;
  width: max(300px, 80vw);
  margin: 5px;
  /*width: calc(100% - 60px);*/
}
.RoomList {
  top: 180px;

  height: fit-content;
}
.RoomMenu {
  height: 200px;
  display: inline-block;
}
.ListParent {
}
.JoinButton {
  width: 200;
  font-size: x-large;
  margin-top: 3px;
  border: none;
  background-color: hsl(271deg 71% 60%);
  color: var(--font);
  border-radius: 20px;
}

.ListedRoom {
  background-color: var(--light);
  padding: 5px;
  margin: 4px;
}
.ListedRoomName {
  font-size: xx-large;
  display: inline-block;
}
.ListedRoomDescription {
  display: inline-block;
  margin-left: 50px;
  max-width: 80%;
  margin-top: 3px;
}
.ListedRoomLastAccessed {
  float: right;
  display: inline-block;
}

.HeaderSection {
  background-color: var(--med-light);
  text-align: center;
}
.HeaderButton {
  position: relative;
  margin: 0px 10%;
  font-size: min(4vw, 20px);
  border-radius: 25vw;
  padding: 0.3em 1.5em;
  background-color: var(--light);
  margin: 3px;
}

.Window {
  position: absolute;
  /* height: calc(100% - 110px); */
  display: none;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
