:root {
  --dark: #38105d;
  --dark-med: #673398;
  --med: #783eaf;
  --med-light-med: #7e4aaf;
  --med-light: #8152ad;
  --light: #9869c3;

  --font: white;

  --invisible: rgba(0 0 0 0);
}

body {
  background-color: var(--dark);
  color: var(--font);
  font-family: sans-serif;
  /* overflow: hidden; */
}
button {
  background-color: var(--med);
  border: none;
  padding: 10 50;
  color: var(--font);
  font-size: inherit;
}
button:hover {
  background-color: var(--dark-med);
}
h1 {
  text-align: center;
  font-size: 50px;
}
h2 {
  margin-top: 0;
}
